<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C4SNH1XCDZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C4SNH1XCDZ');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/site.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/carousel.css" | relative_url }}">
  {%- feed_meta -%}

  {%- if page.description -%}
    <meta property="og:description"        content="{{ page.description }}" />
  {%- endif -%}
  {%- if page.image -%}
    <meta property="og:image"              content="{{ page.image }}" />
  {%- endif -%}
</head>
